* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

@font-face {
    font-family: Poppins-Regular;
    src: url('../fonts/Poppins-Regular.ttf') format("opentype")
}

@font-face {
    font-family: Poppins-Medium;
    src: url('../fonts/Poppins-Medium.ttf') format("truetype")
}

@font-face {
    font-family: Poppins-SemiBold;
    src: url('../fonts/Poppins-SemiBold.ttf') format("truetype")
}

@font-face {
    font-family: Poppins-Light;
    src: url('../fonts/Poppins-Light.ttf') format("truetype")
}

@font-face {
    font-family: Poppins-Bold;
    src: url('../fonts/Poppins-Bold.ttf') format("truetype")
}

@font-face {
    font-family: BASKVILL;
    src: url('../fonts/BASKVILL.TTF') format("truetype")
}

@font-face {
    font-family: Amalfi-Coast;
    src: url('../fonts/Amalfi-Coast.ttf') format("truetype")
}

@font-face {
    font-family: Exodus-Demo-Sharpen;
    src: url('../fonts/Exodus-Demo-Sharpen.otf');
}
@font-face {
    font-family:Product-Bold;
    src: url('../fonts/Product\ Sans\ Bold.ttf');
}
@font-face {
    font-family:Product-Regular;
    src: url('../fonts/Product\ Sans\ Regular.ttf');
}
@font-face {
    font-family:Montserrat-Bold;
    src: url('../fonts/Montserrat-Bold_0.ttf');
}
@font-face {
    font-family:Montserrat-semibold;
    src: url('../fonts/Montserrat-SemiBold_0.ttf');
}
@font-face {
    font-family:Montserrat-Regular;
    src: url('../fonts/Montserrat-Regular_0.ttf');
}
@font-face {
    font-family:Montserrat-Medium;
    src: url('../fonts/Montserrat-Medium_0.ttf');
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  font-size: 1rem;
  line-height: 1.5;
}


/* Content wrapper */

#header .wrapper {
  /* width: 94%;
  max-width: 1140px; */
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  background-color: #303030;
}

#header .wrapper-small {
  max-width: 640px;
}

#header .wrapper-flush {
  width: 100%;
}


/**
 * Navigation
 */

 #header .nav {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10000;
}


/** 
* Nav container 
* 1. Ensure this slides in below parent
* 2. Hide by default
* 3. Smoother scrolling experience on iOS
*/

#header .nav-container {
  position: fixed;
  top: 60px;
  /* 1 */
  left: 0;
  z-index: 9999;
  overflow-y: auto;
  visibility: hidden;
  /* 2 */
  width: 100%;
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  transform: translateX(-100%);
  /* 2 */
  background-color: red;
  -webkit-overflow-scrolling: touch;
  /* 3 */
}


/* 1. Show when `.is-visible` class is added */

#header .nav-container.is-visible {
  visibility: visible;
  /* 1 */
  transform: translateX(0);
  /* 1 */
}


/* Nav toggle */

#header .nav-toggle {
  line-height: 1;
  display: inline-block;
  padding: 1.25rem 1rem;
  border: 0;
  background-color:#303030;
  border: solid 2px #0cb550;
}
#header .nav-toggle:focus {
  outline: none;
}
#header .nav .wrapper img {
    vertical-align: middle;
    border-style: none;
    object-fit: contain;
}

/* Nav toggle icon */

#header .nav-toggle .icon-menu {
  position: relative;
  display: inline-block;
  width: 28px;
  height: 20px;
  vertical-align: middle;
  fill: none;
}


/* Nav toggle icon lines */

#header .icon-menu .line {
  position: absolute;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1.000);
  transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000);
  background: #0cb550;
}


/* Nav toggle icon line 1 */

#header .icon-menu .line-1 {
  top: 0;
}


/* When active, rotate line 1 to be lefthand part of X */

#header .is-active .icon-menu .line-1 {
  transform: translateY(8px) translateX(0) rotate(45deg);
}


/* Nav toggle icon line 2 */

#header .icon-menu .line-2 {
  top: 50%;
  margin-top: -2px;
}


/* When active, hide line 2 */

#header .is-active .icon-menu .line-2 {
  opacity: 0;
}


/* Nav toggle icon line 3 */

#header .icon-menu .line-3 {
  bottom: 0;
}


/* When active, rotate line 3 to be righthand part of X */

#header .is-active .icon-menu .line-3 {
  transform: translateY(-8px) translateX(0) rotate(-45deg);
}


/* Remove default list styles for menus */

#header .menu {
  list-style: none;
  margin: 0;
  padding: 0;
}


/** 
* 1. Give menu a lighter background than its container 
* 2. Prevent menu text from being accidentally highlighted
*/

#header .nav-menu {
  background-color: #dedede;
  /* 1 */
  user-select: none;
  /* 2 */
}


/* Give menu items a top border */

#header .nav-menu .menu-item {
  border-top: 1px solid #bbb;
}


/* Give last menu item a bottom border */

#header .nav-menu > .menu-item:last-child {
  border-bottom: 1px solid #bbb;
}


/* Darker background color on hover, and when toggled */

#header .nav-menu > .menu-item:hover,
#header .nav-menu > .menu-item.is-active {
  background-color: transparent;
}


/* 1. Menu links are block level, by default */

#header .nav-menu .menu-link {
  display: block;
  /* 1 */
  text-decoration: none;
  color: #444;
  padding: 0.75rem 1rem;
}


/* 1. Menu items with dropdowns appear clickable */

#header .has-dropdown {
  position: relative;
  cursor: pointer;
  /* 1 */
}


/* 1. Parent menu links inlined so you can toggle the dropdown */

#header .has-dropdown > .menu-link {
  display: inline-block;
}


/* 1. Add an icon to menu items that have sub menus */

#header .has-dropdown:after {
  font-size: 32px;
  position: absolute;
  top: 0;
  right: 1rem;
  bottom: 0;
  content: "+";
  /* 1 */
  color:#303030;
}
#header .nav-container {
    position: fixed;
    top: 122px;
    left: 0;
    z-index: 9999;
    overflow-y: auto;
    visibility: hidden;
    width: 60%;
    height: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
    transform: translateX(-100%);
    background-color: #0cb550 !important;
    -webkit-overflow-scrolling: touch;
}
#header .nav-menu .menu-link {
    display: block;
    text-decoration: none;
    background: #0cb550;
    padding: 0.75rem 1rem;
    border: solid 2px transparent;
    font-family: 'Poppins-Medium';
    font-size: 20px;
    text-transform: uppercase;
}
#header .nav-menu .menu-link {
    display: block;
    text-decoration: none;
    background: #0cb550;
    padding: 1.75rem 5rem;
    border: solid 2px transparent;
    font-family: 'Poppins-Medium';
    font-size: 40px;
    text-transform: uppercase;
}
#header .nav-menu .menu-link:hover {
    background: black;
    color:#0cb550;
}

#header .nav-menu .menu-link:focus {
    border: solid 2px black;
}
#header .nav-menu {
    background-color: #0cb550;
}
#header .nav-menu .menu-item {
    border-top: none;
}
#header .nav-menu > .menu-item:last-child {
    border-bottom:none;
}
/* 1. Switch icon to n-dash when toggled */

#header .has-dropdown.is-active:after {
  content: "\2013";
  /* 1 */
}
#header .nav .wrapper img {
    vertical-align: middle;
    border-style: none;
    object-fit: contain;
    width: 75px;
}

/**
 * Dropdowns
 * 1. Hide dropdowns by default
 */

 #header .nav-dropdown {
  display: none;
  /* 1 */
  background-color:#0cb550;
  color: black;
}


/* 1. Show dropdown when toggled */

#header .has-dropdown.is-active > .nav-dropdown {
  display: block;
  /* 1 */
}


/* 2nd level dropdown */

#header .nav-dropdown .nav-dropdown {
  background-color: #aaa;
}

#header .nav-dropdown .menu-item {
  border-color: #a0a0a0;
}

#header .nav-dropdown .nav-dropdown .menu-item {
  background-color: #b0b0b0;
  border-color: #909090;
}


/* Main content area */

.content {
  margin-top: 60px;
}

.content .wrapper {
  padding: 1rem 0;
}
#header .nav {
    display: block !important;
  }
  #header .nav-menu .menu-link:hover>.menu-link{
    color: #0cb550 !important;
}
@media (min-width: 992px) {
 #header .nav {
    background-color:red;
    display: none !important;
  }
  .nav,
  .nav-container,
  .nav-container.is-visible {
    position: static;
    top: auto;
    left: auto;
    z-index: auto;
    transform: translateX(0);
  }
  .nav-container,
  .nav-container.is-visible {
    visibility: visible;
    height: auto;
    min-height: 0;
    overflow-y: visible;
  }
  .nav-toggle {
    display: none;
  }
  /* 1. Display menu items inline */
  .nav-menu > .menu-item,
  .nav-menu > .menu-item.is-active {
    display: inline-block;
    /* 1 */
    background-color: transparent;
    border: 0;
  }
  /* Remove bottom border on last child */
  .nav-menu > .menu-item:last-child {
    border: 0;
  }
  .nav-menu .menu-item {
    transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
  }
  /* Remove +/- icons */
  .has-dropdown:after {
    content: "" !important;
  }
  /* Add a caret to top-level menu items that have dropdowns */
  .nav-menu > .has-dropdown:after {
    position: absolute;
    top: 50%;
    right: 1rem;
    width: 0;
    height: 0;
    margin-top: -2px;
    margin-left: -4px;
    content: "";
    border-width: 5px 5px 0 5px;
    border-style: solid;
    border-color: #444 transparent transparent transparent;
  }
  /* Increase padding to compensate for caret */
  .has-dropdown > .menu-link {
    padding-right: 2rem;
  }
  /* Re-style dropdowns for larger screens */
  .nav-dropdown {
    display: block;
    opacity: 0;
    position: absolute;
    top: 100%;
    width: 200px;
    margin: 0;
    padding: 0.5rem 0;
    background-color: $nav-color-darker-1;
    box-shadow: 0 0 4px hsla(0, 0%, 0%, 0.15);
    visibility: hidden;
    transition: visibility 0s linear 0.25s, opacity 0.25s linear;
  }
  .has-dropdown:hover > .nav-dropdown {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
  }
  .nav-dropdown .menu-item {
    border: 0;
  }
  .nav-dropdown .menu-item:hover,
  .nav-dropdown .nav-dropdown .menu-item:hover {
    background-color: #d0d0d0;
  }
  .nav-dropdown .nav-dropdown,
  .nav-dropdown .nav-dropdown .menu-item {
    background-color: #dedede;
  }
  .nav-dropdown .nav-dropdown {
    z-index: 9998;
    top: 0;
    left: 100%;
  }
  .content {
    margin-top: 0;
  }
}
html {
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
}

body {
    margin: 0 auto;
    max-width: 1680px;
    position: relative;
}
/* ============================================header======================================= */
#header .navbar-light .navbar-nav .nav-link {
    color: white;
    font-size: 16px;
    font-family: 'Montserrat-Medium';
    margin:0px 8px;
    text-transform: uppercase;
}
#header .navbar-light .navbar-nav .active > .nav-link{
    color:#0cb550;
}
#header .navbar{
    background-color: #303030;
    padding: 10px 80px;
}
#header .navbar .navbar-brand img{
    width: 80px;
}
#header .navbar .collapse{
    display: flex;
    justify-content: end;
}
#header{
    position: sticky;
    top: 0px;
    z-index: 99;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
/* ==========================================about==========================================  */
#about{
    background: url(../images/Layer\ 2.png);
    width: 100%;
    height:650px;
    position: relative;
}
#about .rows{
    display: flex;
}
#about .about-left {
    padding: 270px 0px 0px 91px;
}
#about .about-left h2{
    font-size: 64px;
    font-family:'Montserrat-Bold';
    color: #a2a7a3;
    line-height: 35px;
}
#about .about-left h2 span{
    font-size: 64px;
    font-family:'Product-Bold';
    color: #0cb550;
    padding-left: 10px;
}
#about .about-left h3{
    font-size: 70px;
    font-family:'Product-Bold';
    color: white;
}
#about .about-left a{
    font-size: 18px;
    font-family:'Montserrat-semibold';
    color: white;
    border: 2px solid white;
    padding: 5px 10px;
    display: inline-block;
    margin-top: 20px;
    text-transform: uppercase;
}
#about .about-left a:hover{
    background-color: white;
    color:#0cb550;
    text-decoration: none;
    border: 2px solid #0cb550;

}
#about .about-right {
    
}
#about .about-right .aboutimg{
    /* width: 675px; */
    height:650px;
}
#about .about-right img{
    width: 100%;
    height:100%;
    object-fit: cover;
}
/* ==========================================me===========================================  */
#me{
    background-color: #303030;
    padding:120px 55px 60px 55px;
}
#me .me-content{
   width: 90%;
   margin: 60px auto;
}
#me h2{
   text-align: center;
   font-family: 'Product-Bold';
   font-size: 50px;
   color: white;
}
#me .rows{
   display: flex;
   gap: 40px;
}
#me .me-right {
  padding: 40px 0px;
}
#me .me-right h3{
    font-family: 'Montserrat-Regular';
    font-size: 22px;
    color: #cbcbcb;
 }
#me .me-right h3 span{
   font-family: 'Montserrat-Regular';
   font-size: 22px;
   color: #0cb550;
}
#me .me-right h4{
   font-family: 'Montserrat-Regular';
   font-size: 22px;
   color: #cbcbcb;
   line-height: 30px;
   padding: 10px 0px 20px 0px;
}
#me .me-right h5{
    font-family: 'Montserrat-Regular';
    font-size: 22px;
    color: #cbcbcb;
}
#me .me-right h5 span{
   font-family: 'Montserrat-Regular';
   font-size: 22px;
   color: #0cb550;
}
/* ========================================skill=============================================  */
#skill{
    background-color: #282828;
    padding:120px 55px 60px 55px;
}
#skill .skill-content{
   width: 75%;
   margin: 60px auto;
   display: flex;
   justify-content: space-between;
}
#skill .skill-left{
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
}
#skill .skill-right{
    border-left: solid 2px #0cb550;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items:center;
}
#skill h2{
    text-align: center;
    font-family: 'Product-Bold';
    font-size: 50px;
    color: white;
 }
 #skill .skill-right h3{
    width: 275px;
    font-family: 'Montserrat-Regular';
    font-size: 30px;
    color: white;
    margin: 40px 0px 0px 50px;
}
 #skill .skill-left h3{
    font-family: 'Montserrat-Regular';
    font-size: 30px;
    color: white;
    margin: 40px 0px 0px 0px;
 }
 #skill .skill-content img{
    padding-right: 20px;
 }
/* ================================portfolio============================================  */
#port{
    background-color: #303030;
    padding:120px 55px 60px 55px;
}
#port .port-content{
   width: 90%;
   margin: 60px auto;
}
#port h2{
    text-align: center;
    font-family: 'Product-Bold';
    font-size: 50px;
    color: white;
 }
#port .nav-tabs {
    border-bottom:none;
    display: flex;
    justify-content: center;
}
#port .nav-tabs .nav-link {
    color: #495057;
    background-color: transparent;
    border: none;
    font-family: 'Montserrat-Medium';
    font-size: 30px;
    color: white;
}
#port .nav-tabs .active {
    color: #0cb550;
}
#port .nav-tabs .nav-link:focus {
    background-color: transparent;
    outline: none;
    border: none;
    color: #0cb550;
}
#port .nav-tabs .nav-link:hover {
    background-color: transparent;
    outline: none;
    border: none;
    color: #0cb550;
}
#port .owlone{
    margin-top: 65px;
}
#port .img-wrapper {  
    width:100%;
    height:100%;
    overflow: hidden; 
  }
#port .img-wrapper img{  
    transition: 0.3s;
}
#port .img-wrapper img:hover{  
    transform: scale(1.1);
}
#port  .img-wrapper {
    display: inline-block;
    box-sizing: border-box;
    border: 1px solid #000;
  }
#port .owl-nav{
    margin-top: 65px;
}
#port .owl-nav button.owl-next{
    background: 0 0;
    color: inherit;
    border: none;
    padding: 0!important;
    font: inherit;
    display: inline-block;
    background: transparent;
    height:40px;
    width: 40px;
    border-radius: 200px;
    border: solid 2px #0cb550;
}
#port .owl-nav button.owl-prev{
    background: 0 0;
    color: inherit;
    border: none;
    padding: 0!important;
    font: inherit;
    display: inline-block;
    background: transparent;
    height:40px;
    width: 40px;
    border-radius: 200px;
    border: solid 2px #0cb550;
}
#port .owl-nav button.owl-prev:hover{
    background-color: #0cb550;
}
#port .owl-nav button.owl-prev:hover > .left-chev{
        color: white;
}
#port .owl-nav button.owl-next:hover{
    background-color: #0cb550;
}
#port .owl-nav button.owl-next:hover > .right-chev{
        color: white;
}
#port .owl-nav button.owl-prev:focus{
    outline: none;
}
#port .owl-nav button.owl-next:focus{
    outline: none;
}
#port .owl-nav button.owl-prev .left-chev{
    color: #0cb550;
}
#port .owl-nav button.owl-next .right-chev{
    color: #0cb550;
}
#port .owl-nav button.owl-next .right-chev{
    color: #0cb550;
}
/* =====================================services========================================  */
#services{
    background-color: #282828;
    padding:120px 55px 60px 55px;
}
#services .services-content{
   width: 95%;
   margin: 60px auto;
   display: flex;
   justify-content: space-between;
}
#services h2{
    text-align: center;
    font-family: 'Product-Bold';
    font-size: 50px;
    color: white;
    text-transform: capitalize;
 }
#services .services-box{
 display: flex;
 flex-direction: column;
 align-items: center;
 }
#services h3{
    text-align: center;
    font-family: 'Montserrat-Medium';
    font-size: 30px;
    color: white;
    text-transform: capitalize;
    margin: 20px 0px;
 }
#services p{
    text-align: center;
    font-family: 'Product-Regular';
    font-size: 20px;
    color: white;
 }
#services .owl-carousel .owl-item img {
    display: block;
    width: 50px;
    height: 50px;
    margin: 20px 0px;
}
#services .owl-nav{
    margin-top: 65px;
}
#services .owl-nav button.owl-next{
    background: 0 0;
    color: inherit;
    border: none;
    padding: 0!important;
    font: inherit;
    display: inline-block;
    background: transparent;
    height:40px;
    width: 40px;
    border-radius: 200px;
    border: solid 2px #0cb550;
}
#services .owl-nav button.owl-prev{
    background: 0 0;
    color: inherit;
    border: none;
    padding: 0!important;
    font: inherit;
    display: inline-block;
    background: transparent;
    height:40px;
    width: 40px;
    border-radius: 200px;
    border: solid 2px #0cb550;
}
#services .owl-nav button.owl-prev:hover{
    background-color: #0cb550;
}
#services .owl-nav button.owl-prev:hover > .left-chev{
        color: white;
}
#services .owl-nav button.owl-next:hover{
    background-color: #0cb550;
}
#services .owl-nav button.owl-next:hover > .right-chev{
        color: white;
}
#services .owl-nav button.owl-prev:focus{
    outline: none;
}
#services .owl-nav button.owl-next:focus{
    outline: none;
}
#services .owl-nav button.owl-prev .left-chev{
    color: #0cb550;
}
#services .owl-nav button.owl-next .right-chev{
    color: #0cb550;
}
/* =====================================contact=========================================  */
#contactt{
    background-color: #303030;
    padding:120px 55px 60px 55px;
}
#contactt .contactt-content{
   width: 70%;
   margin: 60px auto;
   display: flex;
   justify-content: space-around;
}
#contactt .contactt-content .contents{
   text-align: center;
}
#contactt .contactt-content h3{
    font-family: 'Montserrat-Medium';
    font-size: 30px;
    color: white;
    text-transform: capitalize;
}
#contactt .contactt-content p{
    font-family: 'Montserrat-Regular';
    font-size: 25px;
    color: white;
}
#contactt .contactt-content img {
    vertical-align: middle;
    border-style: none;
    margin: 20px 0px;
    width: 30px;
    height: auto;
}
#contactt h2{
    text-align: center;
    font-family: 'Product-Bold';
    font-size: 50px;
    color: white;
 }
/* ==================================footer=============================================  */
#footer{
    background-color: #282828;
    padding:30px 55px;
}
#footer .footer-content{
   width: 95%;
   margin: 0px auto;
   text-align: center;
}
#footer .footer-content p{
    font-family: 'Montserrat-Regular';
    font-size: 22px;
    color: white;
    margin-bottom: 0px;
}
#footer .footer-content p span{
    color:#0cb550;
    margin-left: 10px;
}
/* =====================================================================================  */
@media (max-width: 5120px) {
    .container-new-big {
        max-width: 100%;
        padding: 0px 80px;
    }
}

@media (max-width: 2000px) {
    .container-new-big {
        max-width: 100%;
        padding: 0px 80px;
    }
}

@media (max-width: 1800px) {
    .container-new-big {
        max-width: 100%;
        padding: 0px 80px;
    }
}

@media (max-width: 1600px) {
    .container-new-big {
        max-width: 100%;
        padding: 0px 80px;
    }
}

@media (max-width: 1400px) {
    .container-new-big {
        max-width: 100%;
        padding: 0px 80px;
    }
}

@media only screen and (max-width: 1300px) {
    .container-new-big {
        padding: 0 60px;
    }
}

@media only screen and (max-width: 1200px) {
    .container-new-big {
        padding: 0 40px;
    }

    .navbar_baner_section .aries_logo {
        bottom: -280px;
    }

}

@media only screen and (max-width: 560px) {
    .container-new-big {
        padding: 0 20px;
    }
}

@keyframes zoom-in-zoom-out {
    0% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(1.2, 1.2);
    }

    100% {
        transform: scale(1, 1);
    }
}

@media(max-width:1300px) {
    #about .about-left {
        padding: 270px 0px 0px 91px;
        width: 45%;
    }
    #about .about-left h3 {
        font-size: 60px;
        font-family: 'Product-Bold';
        color: white;
        padding: 20px 0px;
    }
}
@media(max-width:1180px) {
    #about .about-right .aboutimg {
        width: 661px;
        height: 600px;
        position: absolute;
        bottom: 0px;
    }
    #about .about-left h3 {
        font-size: 53px;
        font-family: 'Product-Bold';
        color: white;
        padding: 20px 0px;
    }
    #about .about-left h2 {
        font-size: 60px;
        font-family: 'Montserrat-Bold';
        color: #a2a7a3;
        line-height: 35px;
    }
    #about .about-right img {
        width: 95%;
        height: 100%;
        object-fit: cover;
    }
}

@media(max-width:1024px) {
    #about .about-right {
        display: none;
    }
    #about .about-left {
        padding: 230px 0px 0px 0px;
        width: 100%;
        text-align: center;
    }
    #me .rows {
        display: flex;
        flex-direction: column;
        gap: 40px;
        align-items: center;
    }
    #me .me-right {
        padding: 40px 0px;
        text-align: center;
    }
    #skill .skill-content {
        width: 55%;
        margin: 60px auto;
        display: block;
    }
    #skill .skill-left {
        width: 100%;
        display: block;
    }
    #skill .skill-right {
        border-left:none;
        width: 100%;
        display: block;
    }
    #skill .skill-left h3 {
        font-family: 'Montserrat-Regular';
        font-size: 30px;
        color: white;
        margin: 40px 0px 0px 80px;
    }
    #skill .skill-right h3 {
        width: 275px;
        font-family: 'Montserrat-Regular';
        font-size: 30px;
        color: white;
        margin: 40px 0px 0px 80px;
    }
    #contactt .contactt-content {
        width: 100%;
        margin: 60px auto;
        display: flex;
        justify-content: space-around;
    }

}

@media(max-width:991px) {
    #services .services-content {
        width: 60%;
        margin: 60px auto;
        display: flex;
        justify-content: space-between;
    }
    #header .navbar{
        display: none;
    }
}

@media(max-width:820px) {
    #skill .skill-content {
        width: 60%;
        margin: 60px auto;
        display: block;
    }
    #skill .skill-left h3 {
        font-family: 'Montserrat-Regular';
        font-size: 30px;
        color: white;
        margin: 40px 0px 0px 70px;
    }
    #skill .skill-right h3 {
        font-family: 'Montserrat-Regular';
        font-size: 30px;
        color: white;
        margin: 40px 0px 0px 70px;
    }
    #header .nav-menu {
        background-color: #0cb550;
        margin: 35px 0px;
    }
    #header .nav-menu .menu-link {
        display: block;
        text-decoration: none;
        background: #0cb550;
        padding: 1.75rem 3rem;
        border: solid 2px transparent;
        font-family: 'Poppins-Medium';
        font-size: 35px;
        text-transform: uppercase;
    }
}

@media(max-width:768px) {
    #about {
        background: url(../images/Layer\ 2.png);
        width: 100%;
        height: 600px;
        position: relative;
    }
    #about .about-left {
        padding: 210px 0px 0px 0px;
        width: 100%;
        text-align: center;
    }
    #skill .skill-content {
        width: 70%;
        margin: 60px auto;
        display: block;
    }
}

@media(max-width:600px) {
    #header .wrapper {
        padding: 30px 75px;
        display: flex;
        justify-content: space-between;
        background-color: #303030;
    }
    #me {
        background-color: #303030;
        padding: 60px 55px 1px 55px;
    }
    #me .me-right {
        padding: 0px 0px;
        text-align: center;
    }
    #skill {
        background-color: #282828;
        padding: 60px 55px 60px 55px;
    }
    #skill .skill-content {
        width: 96%;
        margin: 60px auto;
        display: block;
    }
    #skill .skill-content {
        width: 96%;
        margin: 60px auto 0px auto;
        display: block;
    }
    #header .nav-menu .menu-link {
        display: block;
        text-decoration: none;
        background: #0cb550;
        padding: 1.15rem 2rem;
        border: solid 2px transparent;
        font-family: 'Poppins-Medium';
        font-size: 30px;
        text-transform: uppercase;
    }
    #contactt .contactt-content {
        width: 100%;
        margin: 60px auto;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
    }
    #port {
        background-color: #303030;
        padding: 60px 55px 60px 55px;
    }
    #port .port-content {
        width: 90%;
        margin: 60px auto 0px auto;
    }
    #services {
        background-color: #282828;
        padding: 60px 55px 60px 55px;
    }
    #services .services-content {
        width: 70%;
        margin: 60px auto 0px auto;
        display: flex;
        justify-content: space-between;
    }
    #contactt {
        background-color: #303030;
        padding: 60px 55px 60px 55px;
    }
    #contactt .contactt-content {
        width: 100%;
        margin: 60px auto 0px auto;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
    }
}

@media(max-width:550px) {
    #about {
        background: url(../images/Layer\ 2.png);
        width: 100%;
        height: 500px;
        position: relative;
    }
    #about .about-left {
        padding: 135px 0px 0px 0px;
        width: 100%;
        text-align: center;
    }
    #skill .skill-left h3 {
        font-family: 'Montserrat-Regular';
        font-size: 30px;
        color: white;
        margin: 40px 0px 0px 40px;
    }
    #skill .skill-right h3 {
        font-family: 'Montserrat-Regular';
        font-size: 30px;
        color: white;
        margin: 40px 0px 0px 40px;
    }
}

@media(max-width:431px) {
    #about .about-left h2 {
        font-size: 50px;
        font-family: 'Montserrat-Bold';
        color: #a2a7a3;
        line-height: 35px;
    }
    #about .about-left h2 span {
        font-size: 55px;
        font-family: 'Product-Bold';
        color: #0cb550;
        padding-left: 10px;
    }
    #about .about-left h3 {
        font-size: 40px;
        font-family: 'Product-Bold';
        color: white;
        padding: 20px 0px;
    }
    #about {
        background: url(../images/Layer\ 2.png);
        width: 100%;
        height: 450px;
        position: relative;
    }
    #header .wrapper {
        padding: 15px 45px;
        display: flex;
        justify-content: space-between;
        background-color: #303030;
    }
    #header .nav .wrapper img {
        vertical-align: middle;
        border-style: none;
        object-fit: contain;
        width:50px;
    }
    #header .nav-toggle {
        line-height: 1;
        display: inline-block;
        padding: 0.75rem 0.75rem;
        border: 0;
        background-color: #303030;
        border: solid 2px #0cb550;
    }
    #header .nav-container {
        position: fixed;
        top: 78px;
        left: 0;
        z-index: 9999;
        overflow-y: auto;
        visibility: hidden;
        width: 70%;
        height: 100%;
        min-height: 100%;
        margin: 0;
        padding: 0;
        transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
        transform: translateX(-100%);
        background-color: #0cb550 !important;
        -webkit-overflow-scrolling: touch;
    }
    #header .nav-menu .menu-link {
        display: block;
        text-decoration: none;
        background: #0cb550;
        padding: 1.15rem 1rem;
        border: solid 2px transparent;
        font-family: 'Poppins-Medium';
        font-size: 25px;
        text-transform: uppercase;
    }
    #me .me-right h5 span {
        font-family: 'Montserrat-Regular';
        font-size: 22px;
        color: #0cb550;
        display: block;
    }
    #me .me-content {
        width: 100%;
        margin: 60px auto;
    }
    #skill .skill-left h3 {
        font-family: 'Montserrat-Regular';
        font-size: 25px;
        color: white;
        margin: 40px 0px 0px 5px;
    }
    #skill .skill-right h3 {
        font-family: 'Montserrat-Regular';
        font-size: 25px;
        color: white;
        margin: 40px 0px 0px 5px;
    }
    #services .services-content {
        width: 90%;
        margin: 60px auto 0px auto;
        display: flex;
        justify-content: space-between;
    }
}

@media(max-width:391px) {
    #me .me-left img {
        vertical-align: middle;
        border-style: none;
        width: 99%;
    }
    #skill {
        background-color: #282828;
        padding: 60px 30px 60px 30px;
    }
    #me h2 {
        text-align: center;
        font-family: 'Product-Bold';
        font-size: 45px;
        color: white;
    }
    #skill h2 {
        text-align: center;
        font-family: 'Product-Bold';
        font-size: 45px;
        color: white;
    }
    #port h2 {
        text-align: center;
        font-family: 'Product-Bold';
        font-size: 45px;
        color: white;
    }
    #services h2 {
        text-align: center;
        font-family: 'Product-Bold';
        font-size: 45px;
        color: white;
        text-transform: capitalize;
    }
    #contactt h2 {
        text-align: center;
        font-family: 'Product-Bold';
        font-size: 45px;
        color: white;
    }
    #contactt .contactt-content h3 {
        font-family: 'Montserrat-Medium';
        font-size: 25px;
        color: white;
        text-transform: capitalize;
    }
    #contactt .contactt-content p {
        font-family: 'Montserrat-Regular';
        font-size: 20px;
        color: white;
    }
}

@media(max-width:370px) {
    #skill .skill-left h3 {
        font-family: 'Montserrat-Regular';
        font-size: 25px;
        color: white;
        margin: 40px 0px 0px 0px;
    }
    #port .nav-tabs .nav-link {
        color: #495057;
        background-color: transparent;
        border: none;
        font-family: 'Montserrat-Medium';
        font-size: 30px;
        color: white;
        display: block;
        border: solid 2px #0cb550;
        width: 250px;
        padding: 0px;
        margin: 10px 0px;
    }
    #port .nav-tabs .nav-link:hover {
        color: white;
        background-color: #0cb550;
        margin: 10px 0px;
        border: solid 2px #0cb550;

    }
}

@media(max-width:363px) {
    #skill {
        background-color: #282828;
        padding: 60px 25px 60px 25px;
    }
    #skill {
        background-color: #282828;
        padding: 60px 10px 60px 10px;
    }
    #skill .skill-content img {
        padding-right: 10px;
        width: 40px;
    }
}

@media(max-width:320px) {}
